
:root{
    --shadow-under: 0px 3px rgba(0, 0, 0, 0.2);
    --shadow-under-after: 0px 0px rgba(0, 0, 0, 0.3);
}
#red{
background-color: rgb(236, 71, 104);
} 
#black{
background-color: black;
}
#green{
background-color: rgb(31, 95, 50);
 }
#purple{
background-color: purple;
}
#orange{
    background-color: orange;
}
#default-color{
    background: rgb(53, 53, 94);
}
#color-container{
    position: relative;
    left: 5%;
    width: 90px;
    height: 60px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 8px;
}
#colors-section{
    
}
#change-colors-txt{
    grid-column: 1/4;
    text-align: center;
    border-radius: 3px;
    margin: 10%;
    background-color: rgb(81, 170, 197);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 100;

}
#hidden-section{
    visibility: hidden;
    transform: translate(-250px);
    background: linear-gradient( 45deg , rgb(105, 126, 150) , rgb(0, 245, 253));
    width: 250px;
    height: 100%;
    bottom: 0%;
    position: absolute;
    transition: 0.5s;
}
.inside-hidden{
    color: white;
    font-size: 0;
    border-radius: 10%;
    position: relative;
    height: 30px;
    width: 30px;
    background-color: rgb(61, 84, 126);

}
#settings{
    margin: 10px;
    background: linear-gradient( 45deg , rgb(132, 132, 192), aqua);
    border: none;
    padding: 15px;
    border-radius: 8px;
    color: white;
    width: 50px;
    height: 50px;
    position: relative;
    transform: translate(0vw);
}
#settings:hover{
    transition: 0.3s;
    background-color: rgb(64, 110, 131);
}
#javascript{    
    color: white;
    font-size: 29px;
    margin-bottom: 50px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    top: 3%;
    transform: translate(-50% ,-50%);
    animation: text 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 forwards;
}
@keyframes text {
    50%{
    color: white;
    font-size: 29px;
    margin-bottom: 50px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50% ,-50%);    
        
    }
    100%{
            
    color: white;
    font-size: 29px;
    margin-bottom: 50px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    top: 3%;
    transform: translate(-50% ,-50%);
    }
}

body{
    margin: 0%;
    scrollbar-width: none;
    background: linear-gradient(90deg,rgb(159, 201, 204) , rgb(58, 96, 146));
    font-family: Tahoma, sans-serif;
}

#click{
    position: absolute;
    background-color: black;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    transition: 0.8s;
}
#calculator{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#calcu{

    padding-top: 30px;
    background: linear-gradient(0deg , rgb(53, 53, 94), aqua);
    border-radius: 20px;
    height: 360px;
    width: 300px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);

}

#input{
    background-color: rgb(249, 250, 214);
    border-radius: 5px;
    font-weight: 300;
    font-size: 20px;
    padding-left: 10px;
    border: none;
    height: 35px;
    width: 210px;
    margin-top: 20px;
    margin-left: 42px;
}
#c{
    box-shadow: var(--shadow-under);
    position: absolute;
    border-radius: 5px;
    border: none;
    background-color: rgb(149, 221, 231);
    width: 50px;
    transform: translate(42px,70px);
}
#c:hover{
    transition: 1s;
    background-color: rgb(152, 100, 153);
    box-shadow: var(--shadow-under-after);
    cursor:pointer;
}
#container{
    margin-top: 40px;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
}
.op{
    box-shadow: var(--shadow-under);
    border-radius: 5px;
    border: none;
    background-color: rgb(149, 221, 231);
    color: rgb(0, 0, 0);
    height: 50px;
    width: 50px; 
    transition: 1s; 
}
.op:hover{
    border-radius: 25%;
    border: none;
    background-color: rgb(163, 109, 165);
    color: rgb(0, 0, 0);
    height: 50px;
    width: 50px;  
    cursor:pointer;
    box-shadow: var(--shadow-under-after);
}
.calcButton{
    box-shadow: var(--shadow-under);
    border-radius: 5px;
    border: none;
    background-color: rgb(249, 250, 214);
    color: rgb(0, 0, 0);
    height: 50px;
    width: 50px;
    transition: 0.5s;

}
.calcButton:hover{
    border-radius: 20%;
    background-color: rgb(232, 233, 200);
    cursor:pointer;
    box-shadow: var(--shadow-under-after);
}
#equalButton{
    box-shadow: var(--shadow-under);
    border-radius: 5px;
    border: none;
    background-color: rgb(249, 250, 214);
    color: rgb(0, 0, 0);
    height: 50px;
    width: 50px;
    transition: 0.5s;

}
#equalButton:hover{
    background-color: rgb(209, 65, 65);
    border-radius: 25%;
    cursor:pointer;
    box-shadow: var(--shadow-under-after);
}
#Del{
    box-shadow: var(--shadow-under);
    position: absolute;
    border-radius: 5px;
    border: none;
    background-color: rgb(149, 221, 231);
    width: 50px;
    transform: translate(208px,70px);
}
#Del:hover{
    transition: 0.5s;
    background-color: rgb(159, 104, 160);
    cursor:pointer;
    box-shadow: var(--shadow-under-after);
}

@media (max-width: 800px){
    #color-container{
        position: relative;
        width: 90px;
        height: 60px;
        display: grid;
        grid-template-columns: repeat(3,30px);
        grid-template-rows: repeat(3,30px);

    }
    #colors-section{
        width: 200px;
        left: 0%;
        
    }
    #change-colors-txt{
        margin-left: 5%;
        margin-right: 0%;
        grid-column: 1/4;
        text-align: start;
        border-radius: 3px;
        background-color: rgb(81, 170, 197);
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        font-weight: 100;
    
    }
    #hidden-section{
        visibility: hidden;
        transform: translate(-250px);
        background: linear-gradient( 45deg , rgb(105, 126, 150) , rgb(0, 245, 253));
        width: 100%;
        height: 20%;
        bottom: 0%;
        position: absolute;
        transition: 0.5s;
    }
    .inside-hidden{
        color: white;
        font-size: 0;
        border-radius: 10%;
        position: relative;
        height: 30px;
        width: 30px;
        background-color: rgb(61, 84, 126);
    
    }
}
